body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  // font-size: 1rem;
  line-height: 1.7;
  color: var(--color-grey-light-1);
}

a {
  text-decoration: none;
}

.heading-primary {
  font-size: 4rem;
  font-weight: 500;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
}

.text-positive {
  color: $color-success;
}
.text-negative {
  color: $color-danger;
}
