// TRANSACTION INPUT FORM
.transaction__form {
  padding: 2rem 1rem;
  text-align: center;
  border-bottom: var(--line-dark);
  box-shadow: var(--shadow-light);
  background: $color-grey-light-2;
  font-size: 2rem;

  & > *:not(:last-child){
    margin-right: 1rem;
  }

  .type {
    padding: 1rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 5px;
    outline: none;
    vertical-align: middle;
    &:focus {
      border: 1px solid $color-secondary-light;
      box-shadow: var(--shadow-light);
    }
  }


  input {
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    transition: all .3s;
    margin-bottom: .5rem;

    &:focus {
      border: 1px solid $color-secondary-light;
      box-shadow: var(--shadow-light);
    }
  }

  .title {
    width: 30rem;
  }

  .amount {
    // width: 15rem;
  }


  .btn-submit {
    width: 3rem;
    height: 3rem;
    line-height: 0;
    vertical-align: middle;
    border: none;
    border-radius: 500px;
    outline: none;
    &:focus {
      box-shadow: var(--shadow-light);
    }
  }
}
