.header {
  padding: 2rem 1rem;
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba($color-secondary-light, 0.3)
    ),
    url("../img/budget_1.jpg") center top no-repeat;
  background-size: cover;


  .indicators {
      width: 80%;
      margin: 1rem auto;
  }

  .heading-primary,
  .heading-secondary {
    text-shadow: 0 1rem 1rem rgba(255, 255, 255, 0.15);
    text-align: center;
  }

  .heading-primary {
      margin-bottom: 1rem;
  }
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2rem;

  &__box {
    background: var(--color-grey-light-2);
    color: var(--color-grey-dark-2);
    padding: 1rem 2rem;
    box-shadow: var(--shadow-medium);
    margin-bottom: 1rem;
    flex: 1;

    &:not(:last-child) {
      margin-right: 2.5rem;
    }

    &--positive {
      border-left: 5px solid $color-success;
    }
    &--negative {
      border-left: 5px solid $color-danger;
    }
    &--neutral {
      border-left: 5px solid $color-info;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  &__stat {
    font-size: 3rem;
  }
}
